@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: rgb(197, 255, 198);
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 1.5rem;
}

button {
    border: none;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 4rem 4rem 4rem;
    column-gap: 10px;
    row-gap: 15px;
}

.reset {
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    padding: 1.5rem;
    text-transform: uppercase;
}
